{{page-title "Add"}}
<thead>
<tr>
  <td>Ajouter une catégorie</td>
</tr>
</thead>
<tbody>
<div class="row">
  <div class="col">
    <Input @value={{@model.nom}} placeholder="Entrez une catégorie" class="form-control"/>
  </div>
</div>
</tbody>
{{outlet}}