{{page-title "MyOrders"}}
<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" {{action "logout"}}>
    Logout
  </button>
</div>
<h2>Commandes</h2>
<div class="ui green segment">
  <LinkTo @route="myOrders" class="ui black button" >
    Commandes
  </LinkTo>
</div>
{{outlet}}